<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">

<!-- 질문 -->
<h2 th:text="${question.subject}"></h2>
<div th:text="${question.content}"></div>
<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    <div class="my-3">
        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/question/vote/${question.id}|}">
            추천
            <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
        </a>
</div>
    <h5 th:text="|${#lists.size(question.commentList)}개의 댓글이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="comment : ${question.commentList}" th:text="${comment.content}"></li>
        </ul>
    </div>
    <form th:action="@{|/comment/create1/${question.id}|}" th:object="${commentForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
    <textarea th:field="*{content}" rows="5" class="form-control"></textarea>
    <input type="submit" value="댓글등록" >
</form>

<!-- 답변의 갯수 표시 -->
<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

<!-- 답변 반복 시작 -->
<div th:each="answer, loop : ${paging2}">
    <a th:id="|answer_${answer.id}|"></a>
    <td>
        <a th:href="@{|/answer/detail/${answer.id}|}" th:text="${answer.content}"></a>
    </td>
    <td th:text="${paging2.getTotalElements - (paging2.number * paging2.size) - loop.index}"></td>
    <td th:text="${loop.count}"></td>
    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    <div class="my-3">
        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
           th:data-uri="@{|/answer/vote/${answer.id}|}">
            추천
            <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
        </a>
        <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${answer.siteUser != null and #authentication.getPrincipal().getUsername() == answer.siteUser.name}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${answer.siteUser != null and #authentication.getPrincipal().getUsername() == answer.siteUser.name}"
           th:text="삭제"></a>
    </div>
</div>

<div class="my-3">
    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
       sec:authorize="isAuthenticated()"
       th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.name}"
       th:text="수정"></a>
    <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
       th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.name}"
       th:text="삭제"></a>

</div>

<!-- 페이징처리 시작 -->
<div th:if="${!paging2.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!paging2.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging2.number-1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging2.totalPages-1)}"
            th:if="${page >= paging2.number-3 and page <= paging2.number+3}"
            th:classappend="${page == paging2.number} ? 'active'"
            class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging2.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging2.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->

</div>
<!-- 답변 반복 끝  -->
<!-- 답변 작성 -->
<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
    <textarea th:field="*{content}" rows="5" class="form-control"></textarea>
    <input type="submit" value="답변등록" >
</form>



    <script>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

